<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center py-5">
                <h1 class="my-5">About Us</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A tempore fuga totam alias, sint delectus id
                    velit ipsam ut eaque, recusandae nostrum autem molestias quasi quibusdam nobis deserunt? Laborum, optio.
                </p>
            </div>
        </div>
    </div>
</div>