<div class="container">
    <div class="row w-50 mx-auto">
        <div class="head bg-info text-center mb-5">
            <h1>Login Form</h1>
        </div>
        <div *ngIf="errors" class="alert alert-danger my-3">{{errors}}</div>
        <form [formGroup]="Form" (ngSubmit)="loginForm(Form)">
            <div class="my-5 px-5">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" formControlName="username" type="text" name="username">
                <p class="text text-danger my-1" *ngIf="(f.username?.touched || submitted) && f.username?.invalid">*
                    username is
                    required
                </p>
            </div>
            <div class="my-5 px-5">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" name="password" formControlName="password">
                <p class="text text-danger my-1" *ngIf="(f.password?.touched || submitted) && f.password?.invalid">*
                    Password is
                    required</p>
            </div>
            <div class="text-center mb-5">
                <button class="btn btn-outline-info" [disabled]="Form.invalid" type="submit">Login</button>
            </div>
        </form>
        <div class="text-center"> <button class="btn btn-outline-warning" (click)="getUser()">Get Credential</button>
        </div>
        <!-- <div class="row w-50 d-flex justify-content-center" *ngIf="user">
            <div class="col-12 align-items-center">
                <div>
                    Username : {{user?.username}}
                </div>
                <div>
                    Password : {{user?.password}}
                </div>
            </div>
        </div> -->
    </div>
</div>