<div class="container">
    <div class="row w-75 mx-auto">
        <form #loginform="ngForm" (ngSubmit)="loginForm(loginform)">
            <div class="my-3">
                <label for="email">Email</label>
                <input ngModel #email="ngModel" class="form-control" type="email" name="email" required email>
                <p class="text text-danger my-1" *ngIf="email.errors?.['required'] && email.touched">* Email is required
                </p>
                <p class="text text-danger my-1" *ngIf="email.errors?.['email'] && email.touched">* Email is invalid</p>
            </div>
            <div class="my-3">
                <label for="password">Password</label>
                <input ngModel #password="ngModel" class="form-control" type="password" name="password" required
                    password minlength="8" maxlength="16"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,16}$">
                <p class="text text-danger my-1" *ngIf="password.errors?.['required'] && password.touched">* Password is
                    required</p>
                <p class="text text-danger my-1" *ngIf="password.errors?.['minlength, maxlength'] && password.touched">*
                    Password must be between 8 - 16 characters</p>
                <p class="text text-danger my-1" *ngIf="password.errors?.['pattern'] && password.touched">* Password
                    must have minimum eight characters, at least one letter, one number and one special character</p>
            </div>
            <div class="my-3">
                <p>do you have account? <a [routerLink]="['/register']">Register</a></p>
            </div>

            <div class="text-center">
                <button class="btn btn-outline-info" [disabled]="loginform.invalid" type="submit">Login</button>
            </div>
            <div *ngIf="errors" class="alert alert-danger my-2">{{errors}}</div>
        </form>


    </div>
</div>