<div class="container">
    <div class="row my-5">
        <div class="col-md-12 text-center">
            <div class="brdr w-25 my-5 mx-auto"></div>
            <h2>Trending <br>
                Movies  <br>
                To Watch Now
            </h2>
            <p>Trending Movies To Watch Now</p>
            <div class="brdr w-100 my-5"></div>
        </div>
        <div *ngFor="let movie of trendingMovies" class="col-md-3 position-relative">
            <div class="movie">
                <a [routerLink]="['/MovieDetails' , movie.id]" class="list-unstyled text-decoration-none">
                    <img [src]="imagePrefix+movie.poster_path" class="w-100" alt="">
                    <h3 class="h6 mt-3 text-center mb-5">{{movie.title}} {{movie.name}}</h3>
                </a>
            </div>
            <div class="vote position-absolute top-0 end-0">{{movie.vote_average}}</div>
        </div>
    </div>
</div>