<app-header [headertrendingall]= "trendingAll"></app-header>
<div class="container">
    <div class="row my-5">
        <div class="col-md-12 text-center">
            <div class="my-5">
            <app-popularmovies [getPopularMovies]="popularMovies"></app-popularmovies>
            </div>
            <div class="brdr w-25 my-5 mx-auto"></div>
            <h2>Trending <br>
                All <br>
                To Watch Now
            </h2>
            <p>Trending All To Watch Now</p>
            <div class="brdr w-100 my-5"></div>
        </div>
        <div *ngFor="let all of trendingAll" class="col-md-3 position-relative item">
            <div class="all">
                <img [src]="imagePrefix+all.poster_path" class="w-100" alt="">
                <h3 class="h6 mt-3 text-center mb-5">{{all.title}} {{all.name}}</h3>
            </div>
            <div class="vote position-absolute top-0 end-0 rate"> <i class='bx bxs-star'></i> {{all.vote_average | number:'1.1-1'}}</div>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0)" size = "medium" color = "#fff" type = "triangle-skew-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>