<div class="row">
    <div class="col-md-9 mx-auto border border-secondary">
        <div class="row">
            <div class="col-md-6 py-2">
                <img [src] = "imagePrefix+movieDetails.poster_path" class="w-100 h-100" alt="">
            </div>
            <div class="col-md-6 py-2">
                <h2 class="mb-3">{{movieDetails.title}}</h2>
                <h4 class="tagline">{{movieDetails.tagline}}</h4>
                <h5 class="my-5">Vote : {{movieDetails.vote_average}}</h5>
                <h5 class="my-5">Vote count : {{movieDetails.vote_count}}</h5>
                <h5 class="my-5">Popularity : {{movieDetails.popularity}}</h5>
                <h5 class="my-5">Release Date : {{movieDetails.release_date}}</h5>
                <p class="my-5">{{movieDetails.overview}}</p>
            </div>
        </div>
    </div>
</div>