<!-- Footer -->
<footer *ngIf="isLogin" class="mt-5 text-center text-lg-start bg-color">

  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 social">
    <div class="me-5 d-none d-lg-block ">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-spotify"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-youtube"></i>
      </a>
    </div>

  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="social">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <img class="w-75"
            src="../../assets/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
            alt="">
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Contact -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>Cairo, Egypt</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            khaledcr22@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>012 845 039 03</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://www.themoviedb.org/">TheMovieDB.org</a>
  </div>

</footer>
<!-- Footer -->